.banner{
    /* background-image: url('https://wallpaperaccess.com/full/645154.jpg'); */
    
    background-image: url('https://th.bing.com/th/id/R.485f2cfdcfa8c9147119209c67e1b20d?rik=DRgsDxQbEqFLgA&riu=http%3a%2f%2fhdqwalls.com%2fwallpapers%2fspiderman-homecoming-movie-poster-c1.jpg&ehk=J8pikAaRAfe%2fXnMt9F4YEd6gHq3GZgEePa0WEClzBIA%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    color: white;
    height: 100vh;
    border-image: fill 0 linear-gradient(#0003,#000);
}